* {
    background-color: #000000;
}

body * {
    font-family: "Space Grotesk", sans-serif;
    color: #ffffff;

}

input {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 325px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -4%;
}

input[type="submit"] {
    width: 325px;
}

input[id="username"] {
    width: 325px;
}

input[id="email"] {
    width: 325px;
}

input[id="password"] {
    width: 325px;
}